/*-------------------------------------------------------
Responsive
-------------------------------------------------------*/
// Small devices (portrait phones, 576px)
@media (max-width: 576px) {

	// Section Header
	.hero-section {
		margin-top: 50px;
	}

	.hero-text {
		text-align: center;

		.site-title {
			font-size: 5rem;
		}
	}

	.hero-image {
		order: 1;
	}


	.metric-section,
	.index-section,
	.pricing-section {
		text-align: center;
		margin-bottom: 30px;
	}

	.section-header,
	.pricing-heading {
		font-size: 3.5rem;
	}

	// Pricing table
	.pricing-table {
		.card {
			margin-bottom: 30px;
		}
	}
}